In [1]:
import pandas as pd

In [27]:
df = pd.read_csv("./Spacex.csv")

In [28]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [29]:
df.dtypes

Date                 object
Time (UTC)           object
Booster_Version      object
Launch_Site          object
Payload              object
PAYLOAD_MASS__KG_     int64
Orbit                object
Customer             object
Mission_Outcome      object
Landing _Outcome     object
dtype: object

In [21]:
df['Date'] = pd.to_datetime(df["Date"])
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [24]:
df["Date"] = df["Date"].astype("object")
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,2010-04-06 00:00:00,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12 00:00:00,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22 00:00:00,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10 00:00:00,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03 00:00:00,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [25]:
df.dtypes

Date                 object
Time (UTC)           object
Booster_Version      object
Launch_Site          object
Payload              object
PAYLOAD_MASS__KG_     int64
Orbit                object
Customer             object
Mission_Outcome      object
Landing _Outcome     object
dtype: object

In [30]:
a = df['Date']
print(a)

0      04-06-2010
1      08-12-2010
2      22-05-2012
3      08-10-2012
4      01-03-2013
          ...
96     05-11-2020
97     16-11-2020
98     21-11-2020
99     25-11-2020
100    06-12-2020
Name: Date, Length: 101, dtype: object

In [31]:
b = []
for i in a:
    newI = i.replace("-","/")
    b.append(newI)
print(b)

['04/06/2010', '08/12/2010', '22/05/2012', '08/10/2012', '01/03/2013', '29/09/2013', '03/12/2013', '06/01/2014', '18/04/2014', '14/07/2014', '05/08/2014', '07/09/2014', '21/09/2014', '10/01/2015', '11/02/2015', '02/03/2015', '14/04/2015', '27/04/2015', '28/06/2015', '22/12/2015', '17/01/2016', '04/03/2016', '08/04/2016', '06/05/2016', '27/05/2016', '15/06/2016', '18/07/2016', '14/08/2016', '14/01/2017', '19/02/2017', '16/03/2017', '30/03/2017', '01/05/2017', '15/05/2017', '03/06/2017', '23/06/2017', '25/06/2017', '05/07/2017', '14/08/2017', '24/08/2017', '07/09/2017', '09/10/2017', '11/10/2017', '30/10/2017', '15/12/2017', '23/12/2017', '08/01/2018', '31/01/2018', '22/02/2018', '06/03/2018', '30/03/2018', '02/04/2018', '18/04/2018', '11/05/2018', '22/05/2018', '04/06/2018', '29/06/2018', '22/07/2018', '25/07/2018', '07/08/2018', '10/09/2018', '08/10/2018', '15/11/2018', '03/12/2018', '05/12/2018', '23/12/2018', '11/01/2019', '22/02/2019', '02/03/2019', '04/05/2019', '24/05/2019', '12/06/2019', '25/07/2019', '06/08/2019', '11/11/2019', '05/12/2019', '17/12/2019', '07/01/2020', '19/01/2020', '29/01/2020', '17/02/2020', '07/03/2020', '18/03/2020', '22/04/2020', '30/05/2020', '04/06/2020', '13/06/2020', '30/06/2020', '20/07/2020', '07/08/2020', '18/08/2020', '30/08/2020', '03/09/2020', '06/10/2020', '18/10/2020', '24/10/2020', '05/11/2020', '16/11/2020', '21/11/2020', '25/11/2020', '06/12/2020']

In [32]:
df["Date"] = b

In [33]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04/06/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08/12/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08/10/2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01/03/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [34]:
df.to_csv("./SpacexDateFixed.csv")